<tr>
    <td class="label"><label for="reg_name">Full Name:</label></td>
    <td class="input"><input id="reg_name" name="reg_name" type="text" class="inputtext" /></td>
</tr>
<tr>
    <td class="label"><label for="reg_email">Email:</label></td>
    <td class="input"><input id="reg_email" name="reg_email" type="text" class="inputtext" /></td>
</tr>
<tr>
    <td class="label"><label for="reg_pwd">Password:</label></td>
    <td class="input"><input id="reg_pwd" name="reg_pwd" type="password" class="inputtext" /></td>
</tr>
<tr>
    <td class="label"><label for="reg_city">City:</label></td>
    <td class="input">
	<select id="reg_city" name="reg_city" class="inputtext">
	    <option value="sfo">San Francisco, CA</option>
	    <option value="nyc">New York City, NY</option>
	    <option value="chi">Chicago, IL</option>
	    <option value="den">Denver, CO</option>
	    <option value="other">Other</option>
	</select>
    </td>
</tr>
