[submodule "deps/facebook-python-sdk"]
	path = deps/facebook-python-sdk
	url = git://github.com/facebook/python-sdk.git
[submodule "deps/jquery.form"]
	path = deps/jquery.form
	url = git://github.com/malsup/form.git
[submodule "deps/pyramid_beaker"]
	path = deps/pyramid_beaker
	url = git://github.com/Pylons/pyramid_beaker.git
