<!----- Head Start ----->
<div id="banner">
	<div id="head">
        <div class="logo"><h1>carvewith.us</h1></div>
        
        <ul class="menu">
            <li><a href="joinlink">
                <h2>Join Trip</h2>
                <span class="sub">Find a trip to join</span>
            </a></li>
            <li><a href="organizelink">
                <h2>Organize</h2>
                <span class="sub">Make a new trip</span>
            </a></li>
        </ul>
        
        <div id="account">
            <div id="login_links">
                <a href="login">login</a>&nbsp;|&nbsp;<a href="register">register</a>
            </div>
            <div id="account_links">
                <span>Hi, username</span>
                &nbsp;|&nbsp;
                <a href="account">my account</a>
                &nbsp;|&nbsp;
                <a href="login">logout</a>
            </div>
        </div>
	</div>
</div>
<!----- Head End ----->

<!----- SubHead Start ----->
<div id="subhead">
	<div class="title">
    	<h3>Trip title goes here</h3>
    </div>
</div>
<!----- SubHead End ----->