<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>pagetitle</title>

<link rel="stylesheet" href="css/960reset.css" />
<link rel="stylesheet" href="css/main.css" />
</head>

<body>

<!----- Head Start ----->
<div id="banner">
	<div id="head">
        <div class="logo"><h1>carvewith.us</h1></div>
        
        <ul class="menu">
            <li><a href="joinlink">
                <h2>Join Trip</h2>
                <span class="sub">Find a trip to join</span>
            </a></li>
            <li><a href="organizelink">
                <h2>Organize</h2>
                <span class="sub">Make a new trip</span>
            </a></li>
        </ul>
        
        <div id="account">
            <div id="login_links">
                <a href="login">login</a>&nbsp;|&nbsp;<a href="register">register</a>
            </div>
            <div id="account_links">
                <span>Hi, username</span>
                &nbsp;|&nbsp;
                <a href="account">my account</a>
                &nbsp;|&nbsp;
                <a href="login">logout</a>
            </div>
        </div>
	</div>
</div>
<!----- Head End ----->

<!----- SubHead Start ----->
<div id="subhead">
</div>
<!----- SubHead End ----->


<!----- Content Start ----->

<div id="content" class="content container_12">

	<!----- Top bar ----->
        <div class="bar fill blue">
        	<h3 class="white">Organize a new trip</h3>
            <a href="viewtrip" id="btn_view" class="button medium gray right">View Trip Profile</a>
            <ul class="submenu  grid_5">
				<li class="active"><a href="basic"><b>1.</b> Basic Details</a></li>
				<li><a href="logistics"><b>2.</b> Logistics</a></li>
				<li><a href="members"><b>3.</b> Members</a></li>
			</ul>
        </div>
        <div class="bar border"></div>
   <!----- end Top bar ----->

	<!----- Main Column ----->
	<div id="column_main" class="grid_9">
    	
        <div id="summary" class="outer">
        	<h4>Summary</h4>
            <p id="description">blah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blahblah blah blah</p>
       	</div>
        
        <div id="members" class="outer">
        	<h4>Who is going?</h4>
            <ul class="users_small_list">
            	<li>
                    <a id="user_###" class="block" href="">
                        <img class="small" src="" />
                        <h6 class="name">User Name</h6>
                        <div class="skill">
                        <span class="activity">Snowboard</span>
                        <span class="level">Beginner</span>
                        </div>
                        
                    </a>	            
                </li>
                <li>
                    <a id="user_###" class="block" href="">
                        <img class="small" src="" />
                        <h6 class="name">User Name</h6>
                        <div class="skill">
                        <span class="activity">Snowboard</span>
                        <span class="level">Beginner</span>
                        </div>
                    
                    </a>	            
                </li>

				<li>
                    <a id="user_###" class="block" href="">
                        <img class="small" src="" />
                        <h6 class="name">User Name</h6>
                        <div class="skill">
                        <span class="activity">Snowboard</span>
                        <span class="level">Beginner</span>
                        </div>
                    </a>	            
                </li>

            </ul>
       	</div>
        
        <div id="destinations" class="outer">
        	<h4>Destinations</h4>
            <div id="ds_col_main">
                <ul class="timespan">
                    <li value="#destinationid#">##</li>
                    <li value="#destinationid#" style="background:#aaa">##</li>
                    <li value="#destinationid#" style="background:#999">##</li>
                     <li value="#destinationid#" style="background:#666">##</li>
                </ul>
                
                <div id="timespan_labels">
                    <div class="start">Start</div>
                    <div class="end">End</div>
                </div>
                <div class="clear"></div>
                <ul id="destination_list">
                	<li value="#destinationid#">
                    	<img class="marker" src="" />
                        <h6 class="place"><a href="">San Francisco, CA</a></h6>
                    	<div class="date">January 2, 2011</div>
                        <div class="time">7:56 AM</div>
                    </li>
                </ul>
           	</div>
            <div id="ds_col_right">
                <map>placeholder</map>
           	</div>
       	</div>
        
    </div>
    <!----- End Main Column ----->
 <div class="clear"> </div>
</div>
<!----- Content End ----->


<!----- Footer Start ----->
<div class="footer">
	<div class="container_12">
		<div class="footer_col_1 grid_3">
			<ul class="sitemap">
				<li class="lead">carvewith.us</li>
				<li><a href="home">Home</a></li>
				<li><a href="jointrip">Join a Trip</a></li>
				<li><a href="organizetrip">Organize Trip</a></li>
				<li><a href="about">About Us</a></li>
				<li><a href="mobile">Misc</a></li>
			</ul>
		</div>
		<div class="grid_9">
			<h1>Carve with who?</h1>
			<p class="description">
			Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum.
			</p>
		</div>
	</div>
</div>
<!----- Footer End ----->
</body>
</html>
