/*******
	main.css
	
*******/


/****************************************
	colors
	
	white: #fff
	grey: #ccc;
	dark-grey: #666;
	black: #000;
	red: #fa0032;
	dark-red: #b71d1f;
	light-blue: #ebf7ff;
	med-blue: #a7bfe8;
	dark-blue: #280078;
	dark-grey-blue: #002d44;
	
*****************************************/

/****************************************
	body and general elements style
*****************************************/

body{
	font-family:"Helvetica Neue", Helvetica, Arial, san-serif;
	/* set base size at 10px = 1em */
	font-size: 62.5%;
	background:#ebf7ff;

}

a,a:visited,a:link {
	color: #b71d1f;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}


/****************************************
	Shared Classes
*****************************************/

/****************************************
	Header
*****************************************/
#banner {
	background: #fff;
	width:100%;
	overflow:hidden;
	padding:0;
	margin:0;
}
#head {
	width:960px;
	height:80px;
	margin:0 auto;
	display:block;

}

.logo {
	float:left;
	display:block;
	margin:20px 0px;
	width:200px;
}

.logo h1 {
	font-family:"Arial Black", "Helvetica Neue", Helvetica, Arial, san-serif;
	font-weight:900;
	font-size: 2.8em;
	line-height:normal;
}
#head .menu {
	list-style:none;
	display:block;
	overflow:hidden;
	width:auto;
	min-width:200px;
	margin: 0 50px 0 150px;
	float:left;
}
#head .menu li {
	float:left;
	clear:none;
}
#head .menu li a {
	display:block;
	min-width:100px;
	height:80px;
	padding:0px 20px;
	color:#ccc;
	overflow:hidden;
	border-right:1px #ccc dotted;
	border-left:1px #ccc dotted;
}
#head .menu li a:hover {
	background:#ebf7ff;
	text-decoration:none;
}

#head .menu li a h2 {
	color: #000;
	font-size: 2.4em;
	margin:20px 0 5px 0;
}

#head .menu li a span {
	color: #ccc;
	font-size: 1.2em;
	margin:5px 0 0 0;
}

#head #account {
	display: block;
	float:right;
	width:180px;
	margin:10px 0 0 0;
	padding:10px;
	font-size:1.1em;
}

/****************************************
	Subhead
*****************************************/

#subhead {
	width:100%;
	min-height:1px;
	overflow:hidden;
	padding:0;
	margin:0;
	background:#a7bfe8;
	color:#FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

}
#subhead .title {
	width:960px;
	margin:0 auto;
	display:block;
}
#subhead .title h3 {
	float:left;
	display:block;
	margin:10px 0px;
	font-size:2.4em;
	font-weight:500;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}

#subhead .submenu {
	display:block;
	float:right;
	margin:0 0 0 10px;
	list-style:none;
	font-size:1.4em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.10);
	font-weight:900;

}
#subhead .submenu li:first-child {
	border-left:1px dotted #fff;
}

#subhead .submenu  li {
	float:left;
	border-right:1px dotted #fff;
	display:block;
	overflow:hidden;
}

#subhead .submenu  li a {
	display:block;
	padding:15px 10px;
	width:110px;
	text-align:center;
	color:#fff;
}

#subhead .submenu  li a:hover, .submenu  li.active a {
	text-decoration:none;
	color:#fff;
	background:#280078;
}

/****************************************
	Content Header Bar - Create Trip, Admin Trip, Trip Profile
*****************************************/

.bar {
	overflow:hidden;
	display:block;
}
.bar.fill {
	width:100%;
	border-radius:5px 5px 0px 0px;
	background:	#a7bfe8;
	
}
.bar.line {
	width:940px;
	margin:0px 10px;
	border-radius:5px 5px 0px 0px;
}
.bar.border {
	width:100%;
	height:5px;
	padding:0px;
	background: #280078;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.10);
}

.bar.fill.blue {
	border-radius:5px 5px 0px 0px;
	background:	#a7bfe8;
}
.bar.line.top {
	border-bottom:1px solid #CCC;
}
.bar.line.bottom {
	border-top:1px solid #CCC;
}
.bar .button.right {
	float:right;
	margin: 10px 10px 0 10px;
}
.bar h3 {
	float:left;
	display:block;
	font-size:2.4em;
	font-weight:400;
	margin:10px;	
}
.bar h3.white {
	color:#fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.bar h3.dark {
	color:#000;
}

.bar .submenu {
	display:block;
	float:right;
	margin:0 0 0 20px;
	list-style:none;
	font-size:1.4em;
	font-weight:900;
	min-width:400px;

}

.bar .submenu  li {
	float:left;

	display:block;
	overflow:hidden;
}

.bar .submenu  li a {

	display:block;
	margin:10px 0 0 0;
	padding:10px 10px;
	width:110px;
	text-align:center;
	color:#666;
	background:#fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.10);
	border-right:1px solid #ccc;

}
.bar .submenu li:first-child a {
	border-left:1px solid #ccc;
}


.bar .submenu  li a:hover, .submenu  li.active a {
	text-decoration:none;
	color:#fff;
	background:#280078;
	
}
.bar .submenu  li.active a {
	padding:12px 10px;
	margin:6px 0 0 0;
}


/****************************************
	Buttons
*****************************************/
.button,.button:visited {
	background: #222 url(images/button-overlay.png) repeat-x;
	font-weight:bold;
	text-align:center;
	display:inline-block;
	border-radius:5px;
	font-weight:bold;
	line-height:1;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
.button:active {
	top:1px;
}

.button:hover {
	text-decoration:none;
	background: #111;
}

.button.large {
	font-size:1.6em;
	padding:10px 20px;
}
.button.huge {
	font-size:1.6em;
	padding:10px 20px;
	min-width:240px;
	margin:10px 0 0 -10px;
}

.button.medium {
	font-size:1.1em;
	padding:7px 14px;
}
.button.blue {
	color:#fff;
	background:#0066CC;
}
.button.blue:hover {
	background:#3366CC;
}
.button.red {
	background:#b71d1f;
	color:#fff;
}
.button.red:hover {
	background:#C00;
	color:#fff;
}
.button.gray {
	background:#666;
	color:#fff;
}
.button.gray:hover {
	background:#777;

}


/****************************************
	Forms
*****************************************/

.text {
	border:1px solid #a7bfe8;
	font-family:inherit;
}

.text.large {
	padding:5px;
	font-size:1.6em;
}

.text.small {
	padding:3px;
	font-size:1.2em;
}
.text.full {
	width:460px;
}
textarea.text {
	height:100px;
}

/****************************************
	General - Content
*****************************************/

#content {
	background:#FFF;
	display:block;
	overflow:hidden;
	margin:20px auto;
	border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 5px #ccc;
	-webkit-box-shadow: 1px 1px 5px #ccc;
	box-shadow: 1px 1px 5px #ccc;
}

.clear {
	widows:100%;
	height:15px;
}

.outer {
	width:100%;
	overflow:hidden;
}

.inner {
	float:left;
	clear:none;	
}

/****************************************
	Left Column 
*****************************************/

.column_1 {
	background:#fff;
	margin:15px 0 0 15px;
}

.outer h5 {
	font-size:1.8em;
	padding:0px 0px 10px 0px;
}

/****************************************
	Left Column - Trip Profile
*****************************************/
.trip_pic {
	width:205px;
	height:120px;

}

.inner.dates {
	display:block;
	width:64px;
}
.inner span {
	font-size:1.2em;
	font-weight:bold;
}
.inner .date {
	background:#280078;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	margin:5px 0px;
	padding:0px 0px 5px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.inner .date .month {
	color:#FFF;
	font-size:1.3em;
	padding:5px 0px;
}

.inner .date .day {
	padding:5px 0px;
	font-size:2.4em;
	background:#FFF;
	margin:0px 5px;
}
.inner .date .dow {
	padding:0px 0px 5px 0px;
	font-size:1em;
	background:#FFF;
	margin:0px 5px;
	height:auto;
}
.inner.arrow {
	display:block;
	padding:50px 10px;
	font-weight:bold;
}

.outer .col_lead_icon {
	width:48px;
	height:48px;
	float:left;
}
.outer .indicator {
	float:left;
	font-size:2.4em;
	background:#280078;
	font-weight:900;
	color:#FFF;
	padding: 7px 14px;
	margin:5px 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	

}
.outer .label {
	float:left;
	font-size:1.4em;
	margin:0px;
	padding: 10px 0px;
}

/****************************************
	User List
*****************************************/

.user_small{
	display:block;
	overflow:hidden;
	width: 200px;
}
.users_small_list li {
	float:left;
	display:block;
	overflow:hidden;
	width: 210px;
	padding:5px;
	margin:0 10px 10px 0;
	border:1px solid #ccc;
	border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);

}
.users_small_list li:hover {
	background:#eee;
}

.user_small, .users_small_list li a {
	color:#000;
}
.user_small a:hover, .users_small_list li a:hover{
	text-decoration:none;
}

.user_small img, .users_small_list li img{
	width:48px;
	height:48px;
	float:left;
}

.user_small h6, .users_small_list li h6{
	float:left;
	font-size: 1.4em;
	padding:  5px 5px 5px 5px;
}

.user_small a h6:hover, .users_small_list li h6:hover{
	text-decoration:underline;
}

.user_small .skill, .users_small_list li .skill {
	float:left;
	font-size: 1.1em;
	padding: 0px 5px;
}
.user_small .tags, .users_small_list li .tags {
	float:left;
	width:100px;
	margin:5px 5px 0px 5px;
}
.user_small .tags li, .users_small_list li .tags li{
	float:left;
	display:block;
	color:#280078;
	border:none;
	width:auto;
	margin: 0 5px 0 0;
	
}


/****************************************
	Main Column - Trip Profile
*****************************************/

.outer h4 {
	font-size:1.8em;
	padding:0px 0px 10px 0px;
}

#column_main {
	padding:15px 0px;
	display:block;
}
#column_main .top {
	padding:0px 0px 10px 0px;
	border-bottom:1px solid #CCC;
	overflow:hidden;
}


#column_main .button {
	float:left;
	margin:0px 10px 0px 0px;
}

#column_main .button.right {
	float:right;
	margin:5px 5px 0px 0px;
}
#column_main .share {
	float:left;
	width:300px;
	list-style:none;
}
#column_main .share li {
	float:left;
	clear:none;
}
#column_main .outer {
	margin:10px 0px 30px 0px;
}


p#description {
	font-size:1.2em;	
}
#ds_col_main {
	float:left;
	display:inline;
	width:500px;
	overflow:hidden;
}

ul.timespan {
	float:left;
	display:block;
	list-style:none;
	width:480px;
}
ul.timespan li {
	float:left;
	display:block;
	background:#ccc;
	padding:5px 0px;
	width:25%;
	text-align:center;
	font-weight:bold;
}
ul.timespan li:hover {
	background:#fa0032;
	color:#fff;
}
#timespan_labels {
	width:480px;
	overflow:hidden;
	display:block;
	float:left;
	clear:both;
	font-size:1.2em;
	font-weight:bold;
	margin:5px 0px;
}

#timespan_labels .start {
	float:left;
}
#timespan_labels .end {
	float:right;
}

ul#destination_list {
	width:480px;
	overflow:hidden;
	display:block;
}
ul#destination_list li {
	width:100%;
	float:left;
	clear:both;
	margin:0 0 20px 0px;
}
ul#destination_list li .marker {
	width:48px;
	height:48px;
	float:left;
	margin:0 2px 0 0;
}
ul#destination_list h6.place {
	float:left;
	width:250px;
	margin:10px 0 0 20px;
	font-size:1.8em;
	font-weight:bold;
}
ul#destination_list .date, ul#destination_list .time{
	float:left;
	width:100px;
	margin:15px 0 0 5px;
	font-size:1.2em;
	font-weight:bold;

}
ul#destination_list .time {
	width:50px;
}

#ds_col_right {
	float:left;
	display:inline;
	overflow:hidden;
	width:200px;
}

map {
	width:100%;
	height:200px;
	background:#ccc;
	display:block;
}
/****************************************
	Footer
*****************************************/

.footer {
	width:100%;
	min-height:100px;
	overflow:hidden;
	padding:0px 0 20px 0;
	/* background:#a7bfe8; */
	color:#666;
	
}

.footer .container_12 {
	
	padding:10px 0px;
}
.footer a {
	color:#666;
}

.footer .sitemap {
	width:auto;
	min-width:100px;
	margin:0 0 20px 0px;
}

.footer .sitemap li {
	float:left;
	clear:both;
	font-size:1.1em;
	padding:5px 0px;
}
.footer .sitemap li.lead, .footer h1{
	font-weight:900;
	font-size:1.2em;
	text-transform:uppercase;
	
}

.footer h1 {
	margin:5px 0px;
}

.footer p.description {
	font-size:1.1em;
	margin:10px 0px;
	line-height:1.4em;
}

/****************************************
	Sign Up / Small Content
*****************************************/
.container_480 {
	width:480px;
	margin:0 auto;	
}

.signup_form table.verticalform {
	width:100%;
	display:inline-block;
}

.signup_form .verticalform td.label {
	width: 200px;
	text-align:right;
	padding:0 5px 0 0;
}
.signup_form .verticalform td.input {
	padding:3px;
}
.signup_form .verticalform td.text {
	padding:5px;
	border: none;
}

.signup_form .verticalform td.label label {
	font-size:1.6em;
	color:#666;
}

.signup_form .verticalform td.input .inputtext {
	padding:5px;
	font-size:1.6em;
	width:220px;
}

.signup_form .button {
	float: right;
}

.signup_form .cancel_link {
	vertical-align: top;
}

#content .sign_up_top {
	min-height: 130px;
	margin: 0px 10px;
	border-bottom: 2px solid #CCC;
}

#content .sign_up_bottom {
	font-size: 18px;
	text-align: center;
	margin: 20px 0px;
}

#fb_preview {
	margin-top: 65px;
}
/*facebook button*/
.fb_button {
	margin-top: 40px;
	margin-left: 50px;
	font-size: 18px !important;
}

/***Create User Profile***/
.profile_pic {
	height: 120px;
}

.create_profile_main {
	margin-top: 30px;
	min-height: 300px;
}
