/*******
	main.css
	
*******/


/****************************************
	colors
	
	white: #fff
	grey: #ccc;
	dark-grey: #666;
	black: #000;
	red: #fa0032;
	dark-red: #b71d1f;
	light-blue: #ebf7ff;
	med-blue: #a7bfe8;
	dark-blue: #280078;
	dark-grey-blue: #002d44;
	
*****************************************/

/****************************************
	body and general elements style
*****************************************/

body{
	font-family:"Helvetica Neue", Helvetica, Arial, san-serif;
	/* set base size at 10px = 1em */
	font-size: 62.5%;
	background:#ebf7ff;

}

a,a:visited,a:link {
	color: #b71d1f;
	text-decoration:none;
}

a:hover {
	text-decoration:underline;
}


/****************************************
	H1, H2, H3, H4, H5
*****************************************/
h1 {
	font-weight:900;
	font-size: 2.8em;
	line-height:normal;
}
h2 {
	font-size: 2.4em;
}


h5 {
	font-size:1.6em;
	padding:0px 0px 10px 0px;
}

.top q.short {
	font-size:2.4em;
	font-weight:900;
	display:inline-block;
	margin:10px 0 5px 0;
	padding:0px;
}


/****************************************
	Header
*****************************************/
#banner {
	background: #fff;
	width:100%;
	overflow:hidden;
	padding:0;
	margin:0;
}
#head {
	width:960px;
	height:80px;
	margin:0 auto;
	display:block;

}

.logo {
	float:left;
	display:block;
	margin:20px 0px;
	width:200px;
}

.logo h1 {
	font-family:"Arial Black", "Helvetica Neue", Helvetica, Arial, san-serif;
}
#head .menu {
	list-style:none;
	display:block;
	overflow:hidden;
	width:auto;
	min-width:200px;
	margin: 0 50px 0 150px;
	float:left;
}
#head .menu li {
	float:left;
	clear:none;
}
#head .menu li a {
	display:block;
	min-width:100px;
	height:80px;
	padding:0px 20px;
	color:#ccc;
	overflow:hidden;
	border-right:1px #ccc dotted;
	border-left:1px #ccc dotted;
}
#head .menu li a:hover {
	background:#ebf7ff;
	text-decoration:none;
}

#head .menu li a h2 {
	color: #000;
	margin:20px 0 5px 0;
}

#head .menu li a span {
	color: #ccc;
	font-size: 1.2em;
	margin:5px 0 0 0;
}

#head #account {
	display: block;
	float:right;
	width:180px;
	margin:10px 0 0 0;
	padding:10px;
	font-size:1.1em;
}

/****************************************
	Subhead
*****************************************/
.subhead_container {
	width:100%;
	min-height:1px;
	overflow:hidden;
	padding:0 0 10px 0;
	margin:0;

}
.subhead {
	width:100%;
	float:left;	
	margin:0;
	background:#a7bfe8;
	color:#FFF;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);

}
.subhead .title {
	width:960px;
	margin:0 auto;
	display:block;
}
.subhead .title h3 {
	float:left;
	display:block;
	margin:10px 0px;
	font-size:2.4em;
	font-weight:500;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}



.subhead .submenu {
	display:block;
	float:right;
	margin:0 0 0 10px;
	list-style:none;
	font-size:1.4em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.10);
	font-weight:900;

}
.subhead .submenu li:first-child {
	border-left:1px dotted #fff;
}

.subhead .submenu  li {
	float:left;
	border-right:1px dotted #fff;
	display:block;
	position:relative;
	overflow:visible;
}

.subhead .submenu  li a {
	display:block;
	padding:15px 10px;
	width:110px;
	text-align:center;
	color:#fff;
}

.subhead .submenu li .tip {
  border-color: #280078 transparent transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  bottom:-20px;
  left:55px;
  z-index:100;
}


.subhead .submenu  li a:hover, .submenu  li.active a {
	text-decoration:none;
	color:#fff;
	background:#280078;
}

/****************************************
	Content Header Bar - Create Trip, Admin Trip, Trip Profile
*****************************************/

.bar {
	overflow:hidden;
	display:block;
}

.bar.fill {
	width:100%;
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	background:	#a7bfe8;
	padding:10px 0;
	
}
.bar.line {
	width:940px;
	margin:0px 10px;
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	padding:10px 0;
}

.bar.msg {
	margin:10px;
	border-style:none;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	padding:10px 0;
}

.bar.members {
	width:940px;
	margin:0px 10px;
	padding: 50px 0 0 0;
	background:url(../images/invite_users.png) no-repeat bottom left;
}

.bar.border {
	width:100%;
	height:5px;
	padding:0px;
	background: #280078;
	box-shadow: 0 -1px 1px rgba(0,0,0,0.10);
}

.bar.fill.blue {
	border-radius:5px 5px 0px 0px;
	-moz-border-radius:5px 5px 0px 0px;
	-webkit-border-radius:5px 5px 0px 0px;
	background:	#a7bfe8;
}
.bar.line.top {
	border-bottom:1px solid #CCC;
}
.bar.line.bottom {
	border-top:1px solid #CCC;
}

.bar.msg.error {
	background:#FF5050;
	border-color:#CC0000;
}
.bar.msg.error .msgicon {	
}

.bar.msg.warning {
	background:#FFFF99;
	border-color:#CC6600;
}
.bar.msg.warning .msgicon {
}

.bar.msg.success {
	background:#006600;
	border-color:#040;
}
.bar.msg.success .msgicon {
}


.bar .button.msg {
	float:right;
	margin: 0px 10px 0 0px;
	padding:5px 10px;
}

.bar h3, .bar h4 {
	float:left;
	display:block;
	font-size:2.4em;
	font-weight:400;
	margin:0px 10px;	
}

.bar h4{
	font-size:1.8em;
	font-weight:900;
}
.bar h3.white, .bar h4.white {
	color:#fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
}
.bar h3.dark, .bar h4.dark {
	color:#000;
}

.msgicon {
	width:16px;
	height:16px;
	display:block;
	float:left;
}
.bar .submenu {
	display:block;
	float:right;
	margin:0 0 0 20px;
	list-style:none;
	font-size:1.4em;
	font-weight:900;
	min-width:400px;

}

.bar .submenu  li {
	float:left;
	display:block;
	overflow:hidden;
}

.bar .submenu  li a {

	display:block;
	margin:10px 0 0 0;
	padding:10px 10px;
	width:110px;
	text-align:center;
	color:#666;
	background:#fff;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.10);
	border-right:1px solid #ccc;

}
.bar .submenu li:first-child a {
	border-left:1px solid #ccc;
}


.bar .submenu  li a:hover, .submenu  li.active a {
	text-decoration:none;
	color:#fff;
	background:#280078;
	
}
.bar .submenu  li.active a {
	padding:12px 10px;
	margin:6px 0 0 0;
}




/****************************************
	Members Tab Bar
*****************************************/
.tab {
	display:block;
	margin:0;
	list-style:none;
	font-size:1.4em;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.10);
	font-weight:900;
	position:relative;
	border-bottom:1px solid #ccc;
	width: 935px;
	padding:0 0 45px 300px;
}

.tab li {
	float:left;
	display:inline;
	margin:0 0 0 5px;
	position:relative;
	padding:10px 0 0 0;
}

.tab li a {
	display:block;
	width:120px;
	background:#ccc;
	padding:10px 0;
	text-align:center;
	color:#000;
	text-decoration:none;
	border-radius:5px 5px 0 0;
	-moz-border-radius: 5px 5px 0 0;
	-webkit-border-radius: 5px 5px 0 0;
	border-width:1px;
	border-color: #ccc;
	border-style:solid;
	z-index:200;
}
.tab li a:hover, .tab li.active a:hover {
	background:#666;
	color:#fff;
}


.tab li.active a {
	border-bottom:1px solid #fff;
	background:#fff;
	color:#666;
}
.tab li.active a:hover {
	background:#fff;
	color:#666;
}

.tab li sup {
	display:block;	
	background:#c00;
	color:#fff;
	min-width:15px;
	text-align:center;
	padding:5px;
	border-radius:15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	position:relative;
	z-index:300;
	float:right;
	margin-top:-40px;
	margin-right:-5px;
}



/****************************************
	Inline Error Msg
*****************************************/
.inlinemsg {
	padding:1px;
	position:absolute;
	box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	-moz-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	-webkit-box-shadow: 1px 1px 5px rgba(0,0,0,0.5);
	background:#c00;
	display:block;

}

.inlinemsg .tip {
  border-color: transparent #CC0000 transparent transparent;
  border-style: solid;
  border-width: 10px;
  height:0;
  width:0;
  position:absolute;
  top:7px;
  left:-19px;
}

.inlinemsg.error {
	color:#FFF;
	background:#CC0000;
}
.inlinemsg.warning {
	color:#666;
	background:#FFFF99;
}
.inlinemsg .msgicon {
	margin:5px;
}

.inlinemsg .msgtext {
	margin:10px;
	font-size:1.2em;
	font-weight:900;
}


/****************************************
	Buttons
*****************************************/
.button,.button:visited {
	background: #222 url(images/button-overlay.png) repeat-x;
	font-weight:bold;
	text-align:center;
	display:inline-block;
	font-weight:bold;
	line-height:1;
	border-radius:5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	text-shadow: 0 -1px 1px rgba(0,0,0,0.25);
	border-bottom: 1px solid rgba(0,0,0,0.25);
	position: relative;
	cursor: pointer;
}
.button:active {
	top:1px;
}

.button:hover {
	text-decoration:none;
	background: #111;
}

.button.large {
	font-size:1.6em;
	padding:10px 20px;
}
.button.huge {
	font-size:1.6em;
	padding:10px 20px;
	min-width:150px;
	margin:0px 0 0 -10px;
}

.button.medium {
	font-size:1.1em;
	padding:7px 14px;
}
.button.blue {
	color:#fff;
	background:#0066CC;
}
.button.blue:hover {
	background:#3366CC;
}
.button.red {
	background:#b71d1f;
	color:#fff;
}
.button.red:hover {
	background:#C00;
	color:#fff;
}
.button.gray {
	background:#666;
	color:#fff;
}
.button.gray:hover {
	background:#777;

}

.button.green {
	color:#fff;
	background:#006600;
}
.button.green:hover {
	background:#008800;
}
.button.right {
	float:right;
}

.button[href='invite'] {
	margin:3px 20px 0 0;
}

.button.full {
	width:70%;
}

/****************************************
	Forms
*****************************************/

.text {
	border:1px solid #a7bfe8;
	font-family:inherit;
}

.text.large {
	padding:5px;
	font-size:1.6em;
}

.text.medium {
	padding:3px;
	font-size:1.3em;
	min-width:100px;
}

.text.small {
	padding:3px;
	font-size:1.2em;
}

.text.searchname {
	min-width:200px;
}

label.top {
	padding:3px;
	margin:5px 0 0 0;
	font-size:1.44em;
	font-weight:900;
	min-width:98%;
	float:left;
	clear:both;
}

.text.full {
	width:460px;
}
textarea.text {
	height:100px;
}

/****************************************
	General - Content
*****************************************/

#content {
	background:#FFF;
	display:block;
	/*overflow:hidden;*/
	margin:20px auto;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-moz-box-shadow: 1px 1px 5px #ccc;
	-webkit-box-shadow: 1px 1px 5px #ccc;
	box-shadow: 1px 1px 5px #ccc;
}

.clear {
	widows:100%;
	height:15px;
}

.seperator {
	width:90%;
	border-bottom:1px solid #CCC;
}

.column_main .outer {
	margin:10px 0px 30px 0px;
}
.outer {
	width:100%;
	overflow:hidden;

}

.inner {
	float:left;
	clear:none;	
}

/****************************************
	Icons - Sprites
*****************************************/

.icon48 {
	width:48px;
	height:48px;
	float:left;
	background:url(../images/48-icons-sprite.png) no-repeat;
}

.icon48.car {
	background-position: 0px -140px;
}

.icon48.house {
	background-position: 0px -65px;
}

/****************************************
	Left Column 
*****************************************/

.column_1 {
	background:#fff;
	margin:15px 0 15px 15px;
}

.column_1.seperated {
	border-right:1px solid #ccc;
}



/****************************************
	Left Column - Trip Profile
*****************************************/
.trip_pic {
	width:205px;
	height:120px;
}

.inner.dates {
	display:block;
	width:64px;
}
.inner span {
	font-size:1.2em;
	font-weight:bold;
}
.inner .date {
	background:#280078;
	font-weight:bold;
	text-align:center;
	text-transform:uppercase;
	margin:5px 0px;
	padding:0px 0px 5px 0px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.5);
}
.inner .date .month {
	color:#FFF;
	font-size:1.3em;
	padding:5px 0px;
}

.inner .date .day {
	padding:5px 0px;
	font-size:2.4em;
	background:#FFF;
	margin:0px 5px;
}
.inner .date .dow {
	padding:0px 0px 5px 0px;
	font-size:1em;
	background:#FFF;
	margin:0px 5px;
	height:auto;
}
.inner.arrow {
	display:block;
	padding:50px 10px;
	font-weight:bold;
}

.outer .indicator {
	float:left;
	font-size:2.4em;
	background:#a7bfe8;
	font-weight:900;
	color:#FFF;
	padding: 7px 14px;
	margin:3px 5px 5px 10px;
	box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-moz-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow: 0 1px 2px rgba(0,0,0,0.5);
	

}
.outer .label {
	float:left;
	font-size:1.4em;
	margin:0px;
	padding: 10px 0px;
}





/****************************************
	Left Column - User Profile
*****************************************/
.user_pic {
	width:200px;
	min-height:120px;
}

.skill.large .activity {
	background:url(../images/48-icons-sprite.png) no-repeat;
	padding: 20px 0 0 52px;
	min-height:48px;
	margin:3px 5px 0 0;
	color:#666;
	font-size:1.6em;
	float:left;
	clear:both;
}

.skill.large .activity.snowboard {
	background-position:0px -286px;	
}
.skill.large .activity.ski {
	background-position:0px -206px;	
}


/****************************************
	Users List 
*****************************************/
.user_small, .users_list {
	display:block;
	overflow:hidden;
}

.user_small{
	width: 200px;
}

.users_list.full {
	border:1px solid #ccc;
}
.users_list.full.friends {
	width:95%;
	max-height:500px;
	overflow:auto;
}
.users_list.thumbs {
	border:none;
	width:480px;
	margin:0 0 10px 0;
}
.users_list li {
	float:left;
	display:block;
	overflow:hidden;
}
.users_list li.alt {
	background:#eee;
}

.users_list.small li {
	width: 210px;
	padding:5px;
	margin:0 10px 10px 0;
	border:1px solid #ccc;
	border-radius: 2px;
	-moz-border-radius: 2px;
	-webkit-border-radius: 2px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);

}

.users_list.full li {
	width: 100%;
	padding:5px 0px;
	margin: 0;
}
.users_list.thumbs li {
	width:50px;
	margin:5px 10px 5px 0;
	clear:none;
	border:none;
	border-radius: none;
	box-shadow:0 0 0;-webkit-box-shadow:0 0 0;-moz-box-shadow:0 0 0;
	border-radius: 0;-moz-border-radius: 0;-webkit-border-radius: 0;
}


.users_list.small li:hover {
	background:#eee;
}


.users_list.full li .grid_1,  .users_list.full li .grid_5{
	padding:0;
	margin:0;
	
}
.user_small, .users_list li a {
	color:#000;
}
.user_small a:hover, .users_list li a:hover{
	text-decoration:none;
}



.user_small img, .users_list li img{
	width:48px;
	height:48px;
	float:left;

}
.users_list.full li img{
	margin-left:5px;
}

.user_small h6, .users_list li h6{
	float:left;
	font-size: 1.4em;
	padding: 5px;
}

.user_small .skill, .users_list li .skill {
	float:left;
	font-size: 1.1em;
	font-weight:900;
	min-width:50%;
	margin:5px 0 0 0;
}
.user_small .skill, .users_list.small li .skill {
	padding: 0px 5px;
}

.skill .activity {
	background:url(../images/16-icons-sprite.png) no-repeat;
	padding: 0 0 5px 18px;
	margin:3px 5px 0 0;
	min-height:24px;
	color:#666;
}

.activity.snowboard {
	background-position:0px -96px;	
}
.activity.ski {
	background-position:0px -70px;	
}

.users_list.full li .skill {
	clear:right;
	margin:7px 0 0 0;
}
.users_list.full li .info {
	float:left;
	clear:left;
	font-size: 1.1em;
	padding: 0px 5px;
}

.users_list.full li .button.msg {
	margin:10px 5px 0 0;
}

.users_list.full.friends li .button.msg {
	margin:0 5px 0 0;
}

.users_list.thumbs .name {
	color:#000;
	font-size:1em;
	font-weight:900;	
	padding: 5px 0;
	display:inline-block;
	min-height:8px;
	min-width:48px;
	text-align:center;
	position:relative;
	margin: 0 0 0 0;
	
}

/****************************************
	Trips List 
*****************************************/
.trips_list {
	display:block;
	overflow:hidden;
}

.trips_list li {
	float:left;
	display:block;
	overflow:hidden;
	clear:both;
	width:99%;
	border:1px solid #ccc;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-moz-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
	-webkit-box-shadow: 0 1px 3px rgba(0,0,0,0.1);
}
.trips_list li.alt {
	background:#eee;
}

.trips_list .grid_3 {
	width:170px;	
}
.trips_list .outer {
	margin:0 0 10px 0;	
}

.trips_list .grid_6 {
	width:480px;	
}
.trips_list .bar {
	width:100%;
	margin:0 0 10px 0;
	padding:15px 0 0 0;
}
.trips_list .bar h4 {
	margin:0 0 0 15px;
}


.trips_list h6.destinations {
	font-weight:900;
	font-size:1.4em;
	line-height:normal;
	margin:5px 0;
	padding:0;
	color:#666;	
}
.trips_list p {
	margin:10px 0;
}
/****************************************
	Main Column - Trip Profile
*****************************************/

.outer h4 {
	font-size:1.8em;
	padding:0px 0px 10px 0px;
}

.outer h4.tabhead {
	font-size:1.8em;
	padding:10px 0px 10px 0px;
}

.column_main {
	padding:0px 0px;
	display:block;
}
.column_main .top {
	padding:10px 0px 10px 0px;
	border-bottom:1px solid #CCC;
	overflow:hidden;
}


.column_main .button.left {
	float:left;
	margin:0px 10px 0px 0px;
}


.column_main .share {
	float:left;
	width:300px;
	list-style:none;
}
.column_main .share li {
	float:left;
	clear:none;
}

p.description {
	font-size:1.2em;	
}
#ds_col_main {
	float:left;
	display:inline;
	width:500px;
	overflow:hidden;
}

ul.timespan {
	float:left;
	display:block;
	list-style:none;
	width:480px;
}
ul.timespan li {
	float:left;
	display:block;
	background:#ccc;
	padding:5px 0px;
	width:25%;
	text-align:center;
	font-weight:bold;
}
ul.timespan li:hover {
	background:#fa0032;
	color:#fff;
}
#timespan_labels {
	width:480px;
	overflow:hidden;
	display:block;
	float:left;
	clear:both;
	font-size:1.2em;
	font-weight:bold;
	margin:5px 0px;
}

#timespan_labels .start {
	float:left;
}
#timespan_labels .end {
	float:right;
}

ul#destination_list {
	width:480px;
	overflow:hidden;
	display:block;
}
ul#destination_list li {
	width:100%;
	float:left;
	clear:both;
	margin:0 0 20px 0px;
}
ul#destination_list li .marker {
	width:48px;
	height:48px;
	float:left;
	margin:0 2px 0 0;
}
ul#destination_list h6.place {
	float:left;
	width:250px;
	margin:10px 0 0 20px;
	font-size:1.8em;
	font-weight:bold;
}
ul#destination_list .date, ul#destination_list .time{
	float:left;
	width:100px;
	margin:15px 0 0 5px;
	font-size:1.2em;
	font-weight:bold;

}
ul#destination_list .time {
	width:50px;
}

#ds_col_right {
	float:left;
	display:inline;
	overflow:hidden;
	width:200px;
}

map {
	width:100%;
	height:200px;
	background:#ccc;
	display:block;
}

/****************************************
	Create Trip Main
*****************************************/

/****************************************
	Create Trip - Logistics
*****************************************/
#column_main_logistics form {
	margin:0 15px;
}

table.itinerary_edit {
	font-size:1.2em;
	font-weight:900;
}
.itinerary_edit td {
	vertical-align:top;
	padding:3px 5px;
}

.itinerary_edit td.number label {
	display:block;
	padding:7px;
	background:#000;
	color:#fff;
	float:left;
	border-radius: 15px;
	-moz-border-radius: 15px;
	-webkit-border-radius: 15px;
	width:12px;
	text-align:center;
	margin:2px 0 0 0;
}

.itinerary_edit td.location {
	min-width:140px;
}
.itinerary_edit td.location input.text {
	width:200px;
}


.itinerary_edit .lbltop {
	display:inline-block;
	float:left;
	clear:both;
	font-size:1.2em;
	margin:0 0 5px 0;
}

.itinerary_edit .arrdest {
	display:inline-block;
	float:left;
	clear:both;
}

.itinerary_edit td.lodge input.text {
	width:240px;
}

.itinerary_edit td.date input.text {
	width:100px;
}
.itinerary_edit td.time {
	width:200px;
}


/****************************************
	Create Trip - Invite
*****************************************/



/****************************************
	Footer
*****************************************/

.footer {
	width:100%;
	min-height:100px;
	overflow:hidden;
	padding:0px 0 20px 0;
	/* background:#a7bfe8; */
	color:#666;
	
}

.footer .container_12 {
	
	padding:10px 0px;
}
.footer a {
	color:#666;
}

.footer .sitemap {
	width:auto;
	min-width:100px;
	margin:0 0 20px 0px;
}

.footer .sitemap li {
	float:left;
	clear:both;
	font-size:1.1em;
	padding:5px 0px;
}
.footer .sitemap li.lead, .footer h1{
	font-weight:900;
	font-size:1.2em;
	text-transform:uppercase;
}


.footer h1 {
	margin:5px 0px;
}

.footer p.description {
	font-size:1.1em;
	margin:10px 0px;
	line-height:1.4em;
}

/****************************************
	Sign Up / Small Content
*****************************************/
.container_480 {
	width:480px;
	margin:0 auto;	
}

.signup_form table.verticalform {
	width:100%;
	display:inline-block;
}

.signup_form .verticalform td.label {
	min-width: 200px;
	width: 200px;
	text-align:right;
	padding:0 5px 0 0;
}
.signup_form .verticalform td.input {
	padding:3px;
}
.signup_form .verticalform td.text {
	padding:5px;
	border: none;
}

.signup_form .verticalform td.label label {
	font-size:1.6em;
	color:#666;
}

.signup_form .verticalform td.input .inputtext {
	padding:5px;
	font-size:1.6em;
	width:220px;
}

.verticalform td.error {
	vertical-align: middle;
}

.verticalform .inlinemsg {
	margin-left: 25px;
	min-width: 200px;
}

.signup_form .button {
	float: right;
}

.signup_form .cancel_link {
	vertical-align: top;
}

#content .sign_up_top {
	min-height: 130px;
	margin: 0px 10px;
	border-bottom: 2px solid #CCC;
}

#content .sign_up_bottom {
	font-size: 18px;
	text-align: center;
	margin: 20px 0px;
}

#fb_preview {
	margin-top: 65px;
}
/*facebook button*/
.fb_button {
	margin-top: 40px;
	margin-left: 50px;
	font-size: 18px !important;
}

/***Create User Profile***/
.profile_pic {
	height: 120px;
}

.create_profile_main {
	margin-top: 30px;
	min-height: 300px;
}
